.newGameButton {
  background-color: #023abd;
  margin-bottom: 1.25rem;
  animation: unhide 0.7s 0.5s backwards;  
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.2s;
  width: 20vw;
  min-width: 7rem;
  height: 8vw;
  min-height: 3rem;
  padding:0;
}

.newGameButton:hover {
  transform: scale(1.02);
}

.newGameButton:active {
  transform: scale(0.95);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.3rem;
  width: calc(4 * 20vw + 3 * 0.3rem);
}

.init {
  opacity: 0;
}

.front,
.back,
.cell {
  width: 20vw;
  height: 20vw;   
  position: relative;
}

.cell {
  perspective: 319px;
  perspective-origin: 50% 50%;
}

.cardWrapper {
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

/* .cardWrapper:hover {
  transition: transform 0.3s;
  transform: rotateY(-7deg);
} */

.front,
.back {
  user-select: none;
  transition: transform 300ms linear;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.75rem;
  background-color: white;
  backface-visibility: hidden;
  image-rendering: -webkit-optimize-contrast;
  overflow: hidden;
}

.back {
  border-width: 2px;
  border-color: #023abd;
  background-color: #023abd;
}

.front {
  transform: rotateY(90deg) scale(1);
  transition-delay: 0ms;
}

.front.flipped {
  transform: rotateY(0) scale(1.0001);
  transition-delay: 300ms;
}

.back {
  transform: rotateY(0) scale(1);
  transition-delay: 300ms;
}

.back.flipped {
  transform: rotateY(90deg) scale(1.0001);
  transition-delay: 0ms;
}

.goNewGame {
  animation: hide 0.3s forwards;
}

.begin {
  opacity: 0;
}

.back.begin {
  animation-timing-function: linear;
  animation: unhide 0.1s forwards, slide-from-bottom 0.5s both, show 0.8s;
}

.front.flipped.selected.cardsMatch {
  animation: shake 0.7s, shine 0.7s;
}

.cell.flipped.selected {
  z-index: 1000;
}

.front.win {
  animation: wave 0.7s;
}

.front.winReward {
  animation: dance 0.45s;
  animation-iteration-count: 24;
}

.cell:nth-child(1) .front.win {
  animation-delay: 0s;
}

.cell:nth-child(2) .front.win,
.cell:nth-child(5) .front.win {
  animation-delay: 0.1s;
}

.cell:nth-child(3) .front.win,
.cell:nth-child(6) .front.win,
.cell:nth-child(9) .front.win {
  animation-delay: 0.2s;
}

.cell:nth-child(4) .front.win,
.cell:nth-child(7) .front.win,
.cell:nth-child(10) .front.win,
.cell:nth-child(13) .front.win {
  animation-delay: 0.3s;
}

.cell:nth-child(8) .front.win,
.cell:nth-child(11) .front.win,
.cell:nth-child(14) .front.win {
  animation-delay: 0.4s;
}

.cell:nth-child(12) .front.win,
.cell:nth-child(15) .front.win {
  animation-delay: 0.4s;
}

.cell:nth-child(16) .front.win {
  animation-delay: 0.5s;
}

.cell:nth-child(1) .front.winReward {
  animation-delay: 0s;
}

.cell:nth-child(2) .front.winReward,
.cell:nth-child(5) .front.winReward {
  animation-delay: 0.5s;
}

.cell:nth-child(3) .front.winReward,
.cell:nth-child(6) .front.winReward,
.cell:nth-child(9) .front.winReward {
  animation-delay: 0.6s;
}

.cell:nth-child(4) .front.winReward,
.cell:nth-child(7) .front.winReward,
.cell:nth-child(10) .front.winReward,
.cell:nth-child(13) .front.winReward {
  animation-delay: 0.7s;
}

.cell:nth-child(8) .front.winReward,
.cell:nth-child(11) .front.winReward,
.cell:nth-child(14) .front.winReward {
  animation-delay: 0.8s;
}

.cell:nth-child(12) .front.winReward,
.cell:nth-child(15) .front.winReward {
  animation-delay: 0.9s;
}

.cell:nth-child(16) .front.winReward {
  animation-delay: 1s;
}

.cell:nth-child(16) .back.begin {
  animation-delay: 0.3s;
}

.cell:nth-child(15) .back.begin {
  animation-delay: 0.25s;
}

.cell:nth-child(14) .back.begin {
  animation-delay: 0.2s;
}

.cell:nth-child(13) .back.begin {
  animation-delay: 0.15s;
}

.cell:nth-child(12) .back.begin {
  animation-delay: 0.25s;
}

.cell:nth-child(11) .back.begin {
  animation-delay: 0.2s;
}

.cell:nth-child(10) .back.begin {
  animation-delay: 0.15s;
}

.cell:nth-child(9) .back.begin {
  animation-delay: 0.1s;
}

.cell:nth-child(8) .back.begin {
  animation-delay: 0.2s;
}

.cell:nth-child(7) .back.begin {
  animation-delay: 0.15s;
}

.cell:nth-child(6) .back.begin {
  animation-delay: 0.1s;
}

.cell:nth-child(5) .back.begin {
  animation-delay: 0.05s;
}

.cell:nth-child(4) .back.begin {
  animation-delay: 0.15s;
}

.cell:nth-child(3) .back.begin {
  animation-delay: 0.1s;
}

.cell:nth-child(2) .back.begin {
  animation-delay: 0.05s;
}

.cell:nth-child(1) .back.begin {
  animation-delay: 0;
}

@media (min-width: 640px) {  
  .newGameButton {    
    font-size: 1.3rem;    
  }  
}

@media (min-width: 768px) {
  .front,
  .back,
  .cell {
    width: 11rem;
    height: 11rem;
  }
  .board {
    width: calc(4 * 11rem + 3 * 0.5rem);
    grid-gap: 0.5rem;    
  }
  .newGameButton {    
    font-size: 1.5rem;
    width: 11rem;
    height: 4.5rem;
  }
  .front,
  .back {
    border-width: 4px;
  }
}

@keyframes show {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(0.8);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: scale(1) rotateZ(0deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.1) rotateZ(-15deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1) rotateZ(0deg);
  }
}

@keyframes wave {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(0.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dance {
  0% {
    transform: rotate3d(0) scale(1);
    animation-timing-function: ease-out;
  }
  25% {
    transform: rotate3d(1, 1, 1, -12deg) scale(0.9);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate3d(0) scale(0.9);
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate3d(1, 1, 1, 12deg) scale(0.9);
    animation-timing-function: ease-in;
  }
  100% {
    transform: rotate3d(0) scale(1);
  }
}

@keyframes shine {
  50% {
    border-color: gold;
    box-shadow: 0 0 20px 5px rgba(255, 215, 0, 0.5);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes unhide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-from-bottom {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}
