.init {
  opacity: 0;
}

.front,
.back,
.cell {
  width: 5rem;
  height: 5rem;
  position: relative;
}

.cardWrapper {
  position: absolute;
}

.front,
.back {
  user-select: none;
  transition: transform 300ms linear;
  border-width: 4px;
  border-style: solid;
  border-radius: 0.75rem;
  background-color: white;
  backface-visibility: hidden;
  image-rendering: -webkit-optimize-contrast;
  overflow: hidden;
}

.back {
  border-width: 2px;
  border-color: #023abd;
  background-color: #023abd;
}

.front {
  transform: rotateY(90deg) scale(1);
  transition-delay: 0ms;  
}

.front.flipped {
  transform: rotateY(0) scale(1.0001);
  transition-delay: 300ms;
}

.back {
  transform: rotateY(0) scale(1);
  transition-delay: 300ms;
}

.back.flipped {
  transform: rotateY(90deg) scale(1.0001);
  transition-delay: 0ms;
}

.goNewGame {
  animation: hide 0.3s forwards;
}

.begin {
  opacity: 0;
}

.back.begin {    
  animation-timing-function: linear;  
  animation: unhide 0.1s forwards, slide-from-bottom 0.5s both, show 0.8s;
}

.front.flipped.selected.cardsMatch {
  animation: shake 0.7s, shine 0.7s;
  z-index: 1000;
}

.front.win {
  animation: wave 0.7s;
}

.front.winReward {
  animation: dance 0.45s;
  animation-iteration-count: 17;
}

.cell:nth-child(1) .front.win {
  animation-delay: 0s;
}

.cell:nth-child(2) .front.win,
.cell:nth-child(5) .front.win {
  animation-delay: 0.1s;
}

.cell:nth-child(3) .front.win,
.cell:nth-child(6) .front.win,
.cell:nth-child(9) .front.win {
  animation-delay: 0.2s;
}

.cell:nth-child(4) .front.win,
.cell:nth-child(7) .front.win,
.cell:nth-child(10) .front.win,
.cell:nth-child(13) .front.win {
  animation-delay: 0.3s;
}

.cell:nth-child(8) .front.win,
.cell:nth-child(11) .front.win,
.cell:nth-child(14) .front.win {
  animation-delay: 0.4s;
}

.cell:nth-child(12) .front.win,
.cell:nth-child(15) .front.win {
  animation-delay: 0.4s;
}

.cell:nth-child(16) .front.win {
  animation-delay: 0.5s;
}

.cell:nth-child(1) .front.winReward {
  animation-delay: 0s;
}

.cell:nth-child(2) .front.winReward,
.cell:nth-child(5) .front.winReward {
  animation-delay: 0.5s;
}

.cell:nth-child(3) .front.winReward,
.cell:nth-child(6) .front.winReward,
.cell:nth-child(9) .front.winReward {
  animation-delay: 0.6s;
}

.cell:nth-child(4) .front.winReward,
.cell:nth-child(7) .front.winReward,
.cell:nth-child(10) .front.winReward,
.cell:nth-child(13) .front.winReward {
  animation-delay: 0.7s;
}

.cell:nth-child(8) .front.winReward,
.cell:nth-child(11) .front.winReward,
.cell:nth-child(14) .front.winReward {
  animation-delay: 0.8s;
}

.cell:nth-child(12) .front.winReward,
.cell:nth-child(15) .front.winReward {
  animation-delay: 0.9s;
}

.cell:nth-child(16) .front.winReward {
  animation-delay: 1s;
}

.cell:nth-child(16) .back.begin {
  animation-delay: 0.30s;
}

.cell:nth-child(15) .back.begin {
  animation-delay: 0.25s;
}

.cell:nth-child(14) .back.begin {
  animation-delay: 0.20s;
}

.cell:nth-child(13) .back.begin {
  animation-delay: 0.15s;
}

.cell:nth-child(12) .back.begin {
  animation-delay: 0.25s;
}

.cell:nth-child(11) .back.begin {
  animation-delay: 0.20s;
}

.cell:nth-child(10) .back.begin {
  animation-delay: 0.15s;
}

.cell:nth-child(9) .back.begin {
  animation-delay: 0.10s;
}

.cell:nth-child(8) .back.begin {
  animation-delay: 0.20s;
}

.cell:nth-child(7) .back.begin {
  animation-delay: 0.15s;
}

.cell:nth-child(6) .back.begin {
  animation-delay: 0.1s;
}

.cell:nth-child(5) .back.begin {
  animation-delay: 0.05s;
}

.cell:nth-child(4) .back.begin {
  animation-delay: 0.15s;
}

.cell:nth-child(3) .back.begin {
  animation-delay: 0.1s;
}

.cell:nth-child(2) .back.begin {
  animation-delay: 0.05s;
}

.cell:nth-child(1) .back.begin {
  animation-delay: 0;
}


@media (min-width: 640px) {
  .front,
  .back,
  .cell {
    width: 9rem;
    height: 9rem;
  }
}

@keyframes show {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(0.8);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: scale(1) rotateZ(0deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.1) rotateZ(-15deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1) rotateZ(0deg);
  }
}

@keyframes wave {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(0.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dance {
  0% {
    transform: rotate3d(0) scale(1);
    animation-timing-function: ease-out;
  }
  25% {
    transform: rotate3d(1, 1, 1, -12deg) scale(0.9);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate3d(0) scale(0.9);
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate3d(1, 1, 1, 12deg) scale(0.9);
    animation-timing-function: ease-in;
  }
  100% {
    transform: rotate3d(0) scale(1);
  }
}

@keyframes shine {  
  50% {
    border-color: gold;
    box-shadow: 0 0 20px 5px rgba(255,215,0,0.5);
  }  
}

@keyframes hide {  
  100% {
    opacity: 0;
  }
}

@keyframes unhide {  
  100% {
    opacity: 1;
  }
}

@keyframes slide-from-bottom {  
  0% {    
    top: 100vh;
  }
  100% {    
    top: 0;
  }
}
