@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', 'Source Sans Pro';
  scroll-margin: 100px 0 0 0;
}

h1 {
  font-weight: 700;
  line-height: 40px;
  font-size: 32px;
  margin: 1rem 0;
}

h2 {
  font-weight: 700;
  line-height: 36px;
  font-size: 28px;
  margin: 1rem 0;
}

@media screen and (max-width: 640px) {
  h1 {
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    margin: 0.5rem 0;
  }

  h2 {
    font-weight: 700;
    line-height: 26px;
    font-size: 20px;
    margin: 1rem 0;
  }
}

.homepage-box {
  position: relative;
}

.homepage-box a:after {
  content: '';
  position: absolute;
  inset: 0;
}

/** removes white space under an image */
.logo span {
  display: block !important;
}
